/* Banner image*/
.header {
  width: 100%;
  background-size: cover;
  }

.header img {
  width: 100%;
}

/* global styling*/
html{
  font-family: "Montserrat";
  margin: 0rem 2rem;
}

/* Styling for the image container and the items inside it */
.container{
  display: flex; 
  flex-wrap: wrap; 
}

/*Items for all the screenshots and pictures of your stuff*/
.item{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 30%;
  min-width: 8rem;
  margin: auto;
}
 .item-info{
   padding: 0.1rem;
   text-align: center;
 }

.item img{
  width: 100%;
}

/*the navbar styling goes here*/
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
  top: 0;
  width: 100%;
}

nav ul li{
  float: left;
  font-size: 1rem;
}

nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover{
  background-color: orangered;
}

nav #active{
  background-color: darkgreen;
}

h1 {
color: darkblue;
font-family: "brush script mt" cursive;
font-size: 40px;
font-weight: bold;
text-align: center;
}
